<div>
    <button class="btn btn-danger" (click)="onLoad()">SHOW</button>
</div>
<div class="page-header">
    <div class = "list-group">
    <div *ngFor="let item of books;">
        <h4>Book Id:{{item.id}}</h4>
        <h4>Book Name:{{item.name | uppercase}}</h4>
        <h4>Book Author:{{item.author}}</h4>
        <h4>Publisher:{{item.publisher }}</h4>
        <h4>Book Type:{{item.type}}</h4>
        <h4>Book Price: {{item.price}}</h4>
        <h4>Book issueDate:{{item.issueDate| date:'MMM YYYY'}}</h4>
        <h4>Book returnDate:{{item.returnDate| date:'MMM YYYY'}}</h4>
        <hr>
    </div>
    
    </div>

</div>



