<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content list">
    <div th:if="${success}"
         class="row alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${success}"></span>
    </div>
    <div class="row">
        <a th:href="@{/book/create}" class="btn btn-warning pull-left">
            <span class="glyphicon glyphicon-plus"></span> Add new book
        </a>
    </div>
    <th:block th:if="${#lists.isEmpty(books)}">
        <h3>No book</h3>
    </th:block>

    <br/><br/><br/>
    <th:block th:unless="${#lists.isEmpty(books)}">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>IssueDate</th>
                    <th>ReturnDate</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mybook,iterStat : ${books}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${mybook.name}"></td>
                    <td th:text="${mybook.author}"></td>
                    <td th:text="${mybook.publisher}"></td>
                    <td th:text="${mybook.type}"></td>
                    <td th:text="${mybook.price}"></td>
                    <td th:text="${mybook.issuedDate}"></td>
                    <td th:text="${mybook.returnDate}"></td>


                    <td><a th:href="@{/book/{id}/edit(id=${mybook.id})}"><span
                            class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a th:href="@{/book/{id}/delete(id=${mybook.id})}"><span
                            class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>
<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>