<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form">
    <div class="row">
        <form action="#" th:action="@{/book/save}" th:object="${book}"
              method="POST" >
            <input type="hidden" th:field="*{id}" />
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"
                       th:field="*{name}" />
            </div>

            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" th:field="*{author}" />
            </div>
            <div class="form-group">
                <label>Publisher</label>
                <input type="text" class="form-control"
                       th:field="*{publisher}" />
            </div>
            <div class="form-group">
                <label>Type</label>
                <input type="text" class="form-control"
                       th:field="*{type}" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control"
                       th:field="*{price}" />
            </div>

            <div class="form-group">
                <label>Issue Date</label>
                <input type="date" class="form-control"
                       th:field="*{issuedDate}" />
            </div>

            <div class="form-group">
                <label>Return Date</label>
                <input type="date" class="form-control"
                       th:field="*{returnDate}" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>